.DS_Store
Thumbs.db

/.settings/*
/.svn/*
/box2d/Build/*
/box2d/Docs/*
/box2d/Examples/*
/box2d/Contrib/*
/box2d/Contrib/*
/html-template/*
/bin-debug/*
/bin-release/*
/bin/*
/flashsource/*
/libs/*
/test/*.swf

.swf
.txt
.png
.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.sourceMate
.fxpProperties
.svn

